<!DOCTYPE html>
<html>
  <head>
    <title>Rails Forum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header class="main_header">
      <div id="logo">
        <p>Rails Forum</p>
      <div id="buttons">
        <%= link_to 'New Post', new_post_path %>
    </header>

    <div class="wrapper">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <div class="wrapper">
      <%= yield %>
    </div>
  </body>
</html>
